<div class="show-container">
  <div class="columns">
    <% if !current_user.nil? && Roadmap.where(user_id: current_user.id).map(&:id).include?(params[:id].to_i) %>
    <!-- Si connecté & sur sa roadmap -->
      <%= render 'columns/column_admin' %>

      <%= simple_form_for @new_theme, url: roadmap_themes_path(@roadmap), method: :post, remote: true do |f| %>
        <% if @themes.first.nil? %>
          <%= f.button :submit, "+ Crée ton premier thème", class: "btn btn-white create-theme" %>
        <% else %>
          <%= f.button :submit, "+ Ajoute un thème", class: "btn btn-white create-theme" %>
        <% end %>
      <% end %>

      <% if @themes.first.nil? %>
        <div class="text-helper">
          <h2>Lance toi et crée ton 1èr thème !</h2>
        </div>
      <% end %>


    <% else %>
    <!-- Si pas connecté ou pas sur sa roadmap -->
      <%= render 'columns/column_guest' %>
    <% end %>
  </div>
</div>

<!-- Afficher un loader cool si je crée une roadmap : -->
<% if !request.referrer.nil? && request.referrer.last(3) == 'new' %>
  <%= render 'components/loader_rocket' %>
<% end %>
