<div class="navbar bg-white navbar-expand-sm navbar-light d-flex justify-content-between">

  <div class="navbar-home">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="navbar-links">

      <div class="menu">
        <div class="emoji-link">
          <%= image_tag "profile.png", alt: "user icon", class: "user-icon emoji" %>
        </div>
      </div>
    </div>

  <% else %>

    <div class="pr-4" id="navbarSupportedContent">
      <%= link_to "Connexion", new_user_session_path, class: "c-black" %>
    </div>

  <% end %>
</div>

<!-- Dropdown de l'emoji profil : en absolute hors navbar (bug mobile si inclus dans navbar) -->

<div class="dropdown dropdown-navbar">
  <%= link_to "Profil", edit_user_registration_path, class: "nav-link" %>
  <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link c-red" %>
</div>
