<div class="navbar navbar-expand-sm navbar-light d-flex justify-content-between">

  <div class="navbar-logo">
    <%= link_to root_path, class: "navbar-brand pl-4" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <% if user_signed_in? %>

    <%= render 'components/roadmap-select.html.erb' %>

    <div class="navbar-links">
      <div class="collapse navbar-collapse pr-4" id="navbarSupportedContent">
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link c-red" %>
      </div>

      <div class="menu pr-4">
        <%= image_tag "user.svg", alt: "user icon", class: "user-icon" %>
        <div class="dropdown dropdown-navbar">
          <%= link_to "Profil", edit_user_registration_path, class: "nav-link" %>
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link mobile-link c-red" %>
        </div>
      </div>
    </div>

  <% else %>

    <div class="collapse navbar-collapse pr-4" id="navbarSupportedContent">
      <%= link_to "Connexion", new_user_session_path, class: "c-black" %>
    </div>

  <% end %>
</div>
