<div class="home-container home-container-form">
  <div class="main-content sign-up zi-9999">
    <h1>Editer mon profil</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, placeholder: 'Adresse email', label: false %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>En attente de la confirmation pour: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    required: false,
                    placeholder: 'Nouveau mot de passe',
                    label: false %>
        <%= f.input :password_confirmation,
                    required: false,
                    placeholder: 'Confirmation du mot de passe',
                    label: false %>
        <%= f.input :current_password,
                    required: true,
                    input_html: { autocomplete: "current-password" },
                    placeholder: 'Mot de passe actuel',
                    label: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn-white" %>
      </div>
    <% end %>

    <p>Marre de fellowmap ? <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr(e) de vouloir supprimer votre compte ?" }, method: :delete %></p>

  </div>

</div>



