<div class="home-container home-container-form">
  <div class="main-content sign-up zi-9999">
    <h1>Inscription</h1>

    <div class="devise-links-1">
      <%= render "devise/shared/links-1" %>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: false,
                    placeholder: "adresse email" %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    label: false,
                    placeholder: "mot de passe" %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    label: false,
                    placeholder: "confirmation du mot de passe" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Valider", class: "btn-white" %>
      </div>
    <% end %>

    <div class="devise-links-2">
      <%= render "devise/shared/links-2" %>
    </div>
  </div>

</div>


