<%= simple_form_for improvement, remote: true, url: roadmap_theme_improvement_path(id: improvement.id, theme_id: theme.id, roadmap_id: @roadmap.id) do |f| %>
  <div class="improvement" id="<%= improvement.id %>">
    <div class="improvement-emoji">
      <div class="emoji-button"><%= improvement.emoji %></div>
      <%= render 'components/emoji_selector', locals: {improvement: improvement} %>
      <%= f.input :emoji, as: :hidden, input_html: {value: improvement.emoji, class: "patch-emoji", id: "emoji-#{improvement.id}"}  %>
    </div>
    <%= f.input :name, input_html: {value: improvement.name, class: "name improvement-name", id: "name-#{improvement.id}"}, label: false %>
    <%= f.input :description, input_html: {value: improvement.description, class: "description improvement-description", id: "descimp-#{improvement.id}"}, label: false  %>
    <%= f.button :submit, class: "patch", name: "patch-improvement", style: "display: none", id: "patchimp-#{improvement.id}" %>
  </div>
<% end %>
