<div class="home-container">
  <div class="home-content forgot-password zi-9999">
    <h1>Mot de passe oublié ?</h1>

    <div class="devise-links-1">
      <%= render "devise/shared/links-1" %>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: false,
                    placeholder: "adresse email" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Valider", class:"btn-white" %>
      </div>
    <% end %>

    <div class="devise-links-2">
      <%= render "devise/shared/links-2" %>
    </div>
  </div>

  <div class="character zi-2">
      <%= image_tag "char-white.svg", alt: "fellowmap mascott" %>
  </div>
</div>

<!-- Rectangles -->

<div class="rectangle-bg rectangle-bg-top">
  <%= image_tag "rectangle-top.svg", alt: "top rectangle background" %>
</div>

<div class="rectangle-bg rectangle-bg-bottom rectangle-bg-white">
  <%= image_tag "rectangle-bottom.svg", alt: "bottom rectangle background" %>
</div>

image_tag("target.png")
