<div class="columns admin" id="<%= @roadmap.id %>">
  <% @themes.each do |theme| %>
    <div class="column-roadmap" id="<%= theme.id %>">
      <!-- Theme -->
      <%= simple_form_for theme, remote: true, url: roadmap_theme_path(id: theme.id, roadmap_id: @roadmap.id) do |f| %>
      <div class="theme">
        <%= f.input :temporality, label: false, input_html: {value: theme.temporality, class: "theme-temporality", id: "temporality-#{theme.id}"} %>
        <div class="column-content">
          <div class="upload-img">
            <% if !theme.cover.url.nil? %>
              <%= image_tag theme.cover.url %>
              <div class="black-filter">🖼️</div>
            <% else %>
              🖼️
            <% end %>
            <%= f.file_field :cover, class: "upload-cover", id: "upload1-#{theme.id}" %>
            <%= f.hidden_field :cover_cache, id: "upload2-#{theme.id}" %>
          </div>
          <%= f.input :name, placeholder: "Nom du thème", input_html: {value: theme.name, class: "theme-name", id: "name-#{theme.id}"}, label: false %>
          <%= f.input :description, placeholder: "Description", input_html: {value: theme.description, class: "theme-description", id: "descthem-#{theme.id}"}  %>
          <%= f.button :submit, class: "patch", name: "patch-theme", style: "display: none", id: "patchthem-#{theme.id}" %>
        <% end %>
          <hr>
          <%= render partial: '/columns/column_admin_kpis.html.erb', locals: {theme: theme} %>
          <hr>
          <%= render partial: 'columns/column_admin_improvements.html.erb', locals: {theme: theme} %>
          <div class="delete-column mt-3 text-center">
            <%= button_to "Supprimer", {controller: :themes, action: 'destroy', id: theme.id, roadmap_id: @roadmap.id }, remote: true, method: :delete, class: "btn btn-white btn-red", data: { confirm: 'Tu es sûr(e) de supprimer ce thème? Tout va disparaître.' }%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="new-theme">
        <%= simple_form_for @new_theme, url: roadmap_themes_path(@roadmap), method: :post do |f| %>
          <% if @themes.first.nil? %>
            <%= f.button :submit, "+ Ajoute un thème", class: "btn btn-white create-theme" %>
          <% else %>
            <%= f.button :submit, "+ Ajoute un thème", class: "btn btn-white create-theme" %>
          <% end %>
        <% end %>
      </div>
</div>
<%= render 'columns/column_guest' %>
