<% @themes.each do |theme| %>
  <div class="column-roadmap">
    <h2><%= theme.name %></h2>
    <div class="column-content">
      <div class="theme">
        <h2>Thème</h2>
        <p>Description du problème rencontré par les utilisateurs</p>
      </div>
      <div class="goal">
        <%= simple_form_for @new_kpi, url: roadmap_theme_kpis_path(id: @new_kpi.id, theme_id: theme.id, roadmap_id: @roadmap.id), method: :post do |f| %>
          <%= f.button :submit, "Ajouter un objectif", class: "btn btn-white w-100" %>
        <% end %>

         <% theme.kpis.each do |kpi| %>
            <%= simple_form_for kpi, url: roadmap_theme_kpi_path(id: kpi.id, theme_id: theme.id, roadmap_id: @roadmap.id), method: :patch do |f| %>
              <div class="kpi">
                <div class="kpi-emoji"><%= image_tag "target", class: "emoji" %></div>
                <%= f.input :description, input_html: {value: kpi.description, class: "kpi-description_#{kpi.id}"}, label: false  %>
              </div>
              <%= f.button :submit, "Mettre à jour", style: "display: none", id: "kpi-patch_#{kpi.id}" %>
            <% end %>
          <% end %>

      </div>
      <div class="improvement">
        <%= render 'components/button', text:'Ajouter une amélioration', class: "w-100 mb-4" %>
        <h3><%= image_tag "rocket.png", class: "emoji" %> Amélioration</h3>
        <p>Description de l'amélioration</p>
      </div>
      <div class="save">
        <%= render 'components/button', text:'Sauvegarder', class: "w-100" %>
      </div>
    </div>
    <div class="delete-column mt-3 text-center">
      <%= simple_form_for theme, url: roadmap_theme_path(id: theme.id, roadmap_id: @roadmap.id), method: :delete do |f| %>
        <%= f.button :submit, "Supprimer", class: "btn btn-white btn-red", data: { confirm: 'Tu es sûr(e) de supprimer ce thème? Tout va disparaître.' }  %>
      <% end %>
    </div>
  </div>
<% end %>
