<div class="kpis" id="kpis-<%= theme.id%>">
  <!-- Create Kpis -->
  <%= simple_form_for @new_kpi, remote: true, url: roadmap_theme_kpis_path(id: @new_kpi.id, theme_id: theme.id, roadmap_id: @roadmap.id), html: {id: "newkpi-#{theme.id}"}, method: :post do |f| %>
    <%= f.button :submit, "Ajouter un objectif", class: "btn btn-white w-100 new-kpi" %>
  <% end %>
  <!-- Index/Update/Destroy Kpis -->
  <div class="kpis-list">
   <% theme.kpis.order(created_at: :desc).each do |kpi| %>
      <%= simple_form_for kpi, remote: true, url: roadmap_theme_kpi_path(id: kpi.id, theme_id: theme.id, roadmap_id: @roadmap.id) do |f| %>
        <div class="kpi" id="<%= kpi.id %>">
          <div class="kpi-emoji">
            <%= image_tag "target.png", class: "emoji" %>
           </div>
          <%= f.input :description, input_html: {value: kpi.description, class: "description kpi-description", id: "desckpi-#{kpi.id}"}, label: false  %>
          <%= f.button :submit, class: "patch", name: "patch-kpi", style: "display: none", id: "patchkpi-#{kpi.id}" %>
        </div>
      <% end %>
      <%= button_to 'delete', roadmap_theme_kpi_path(id: kpi.id, theme_id: theme.id, roadmap_id: @roadmap.id), method: 'delete', class: "delete", style: "display: none;", id: "deletekpi-#{kpi.id}" %>
    <% end %>
  </div>
</div>

