<div class="column-roadmap">
  <h2>Temporality</h2>
  <div class="column-content">
    <div class="theme">
      <h2>Thème</h2>
      <p>Description du problème rencontré par les utilisateurs</p>
    </div>
    <div class="goal">
      <%= render 'components/button', text:'Ajouter un objectif', class: "w-100 mb-4" %>
      <p> <%= image_tag "target.png", class: "emoji" %> Objectif Business </p>
    </div>
    <div class="improvement">
      <%= render 'components/button', text:'Ajouter une amélioration', class: "w-100 mb-4" %>
      <h2><%= image_tag "rocket.png", class: "emoji" %> Amélioration</h2>
      <p>Description de l'amélioration</p>
    </div>
    <div class="save">
      <%= render 'components/button', text:'Sauvegarder', class: "w-100" %>
    </div>
  </div>
  <div class="delete-column mt-3 text-center">
    <%= render 'components/button', text:'Supprimer Thème', class: "btn-red" %>
  </div>
</div>
