<div class="home-container">

  <div class="home-content zi-9999">
    <div class="home-baseline">
      <h1>La stratégie produit peut être sexy, votre roadmap aussi.</h1>
      <h2>Allez à l’essentiel, dessinez votre vision et notifiez vos collègues.</p>
    </div>
    <div class="home-cta">
      <% if @roadmaps.last.nil? && user_signed_in? %>
        <%= render 'components/button_link.html.erb', text: "C'est parti", link: new_roadmap_path, class: "btn-white btn-landing" %>
      <% elsif user_signed_in? %>
        <%= render 'components/button_link.html.erb', text: "C'est parti", link: roadmap_path(@roadmaps.last.id), class: "btn-white btn-landing" %>
      <% else %>
        <%= render 'components/button_link.html.erb', text: "Connexion", link: new_user_session_path, class: "btn-white btn-landing" %>
      <% end %>
    </div>

    <%= render 'components/footer.html.erb' %>
  </div>

  <div class="character zi-2">
    <%= image_tag "char-yellow", alt: "fellowmap mascott" %>
  </div>
</div>

<!-- Rectangles -->

<div class="rectangle-bg rectangle-bg-top">
  <%= image_tag "rectangle-top.svg", alt: "top rectangle background" %>
</div>

<div class="rectangle-bg rectangle-bg-bottom rectangle-bg-yellow">
  <%= image_tag "rectangle-bottom.svg", alt: "bottom rectangle background" %>
</div>

