<div class="home-container1">
  <div class="home-content zi-2">
    <div class="map zi-2">
      <div class="bg-map">
        <%= image_tag "dot", class: "map-dot" %>
        <%= image_tag "position", class: "map-position" %>
      </div>
    </div>
    <div class="home-baseline">
      <h1>La stratégie produit peut être sexy, votre roadmap aussi.</h1>
      <h2>Allez à l’essentiel, dessinez votre vision et notifiez vos collègues.</p>
    </div>
    <div class="home-cta">
      <% if @roadmaps.last.nil? && user_signed_in? %>
        <%= render 'components/button_link.html.erb', text: "C'est parti", link: new_roadmap_path, class: "btn-white btn-landing" %>
      <% elsif user_signed_in? %>
        <%= render 'components/button_link.html.erb', text: "C'est parti", link: roadmap_path(@roadmaps.last.id), class: "btn-white btn-landing" %>
      <% else %>
        <%= render 'components/button_link.html.erb', text: "Connexion", link: new_user_session_path, class: "btn-white btn-landing" %>
      <% end %>
    </div>
    <%= render 'components/footer.html.erb' %>
  </div>
</div>

<div class="home-container2 bg-red">
  <div class="home-content zi-2">
    <div class="home-baseline">
      <h1>La stratégie produit peut être sexy, votre roadmap aussi.</h1>
      <h2>Allez à l’essentiel, dessinez votre vision et notifiez vos collègues.</p>
    </div>
    <div class="home-cta">
      <% if @roadmaps.last.nil? && user_signed_in? %>
        <%= render 'components/button_link.html.erb', text: "C'est parti", link: new_roadmap_path, class: "btn-white btn-landing" %>
      <% elsif user_signed_in? %>
        <%= render 'components/button_link.html.erb', text: "C'est parti", link: roadmap_path(@roadmaps.last.id), class: "btn-white btn-landing" %>
      <% else %>
        <%= render 'components/button_link.html.erb', text: "Connexion", link: new_user_session_path, class: "btn-white btn-landing" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Rectangles -->

<div class="rectangle-bg rectangle-bg-top">
  <%= image_tag "rectangle-top.svg", alt: "top rectangle background" %>
</div>

<div class="rectangle-bg rectangle-bg-bottom rectangle-bg-yellow">
  <%= image_tag "rectangle-bottom.svg", alt: "bottom rectangle background" %>
</div>
