<div class="home-container0">
  <div class="main-content sign-in zi-9999">
    <h1>Connexion</h1>

    <div class="devise-links-1">
      <%= render "devise/shared/links-1" %>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    label: false,
                    placeholder: "adresse email" %>
        <%= f.input :password,
                    required: false,
                    label: false,
                    placeholder: "mot de passe" %>
        <%= f.input :remember_me, :label => "Se souvenir du compte", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Connexion", class: "btn-white" %>
      </div>

    <% end %>

    <div class="devise-links-2">
      <%= render "devise/shared/links-2" %>
    </div>
  </div>

  <div class="character zi-2">
      <%= image_tag "char-white.svg", alt: "fellowmap mascott" %>
  </div>
</div>

<!-- Rectangles -->

<div class="rectangle-bg rectangle-bg-top">
  <%= image_tag "rectangle-top.svg", alt: "top rectangle background" %>
</div>

<div class="rectangle-bg rectangle-bg-bottom rectangle-bg-white">
  <%= image_tag "rectangle-bottom.svg", alt: "bottom rectangle background" %>
</div>

